### Веб-интерфейс (Frontend)
streamlit            # Интерфейс сканера
matplotlib           # Визуализация (графики BARCHART/PIECHART)

### Серверная часть (Backend)
fastapi              # API сервер
uvicorn[standard]    # Запуск сервера (ASGI)
pydantic             # Валидация схем (ScanStatus/ScanResultSchema)
python-multipart     # Обработка форм и запросов

### Обработка данных и БД
pandas               # Основной движок таблиц и CSV

### Работа с API и сетью
requests             # Запросы фронтенда к бэкенду

### Логика сканера (Scanner Engine)
openai-whisper       # Транскрибация аудио
pymupdf              # (import fitz) Обработка PDF
python-docx          # Обработка Word (.docx)
pytesseract          # OCR (распознавание текста с картинок)
Pillow               # Работа с изображениями
opencv-python        # Обработка кадров видео
mediapipe            # Детекция лиц/объектов
striprtf             # Чтение RTF файлов
tabulate             # Конвертация DF в Markdown таблицы
openpyxl
ultralytics
huggingface_hub
transformers
SentencePiece

### Вспомогательные
typing-extensions    # Поддержка типов (Optional, List)
polars

